/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label { margin: 0; padding: 0;  }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; }
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

/* Site Styles */
/* global vars */
:root {
    --c-primary: rgb(185, 159, 255);
    --c-secondary: rgba(255, 255, 255, 0.85);
    --c-tertiary: rgba(64, 64, 64, 0.5);
    
    --v-space: 6rem;
    --border-radius: 1vw;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 100 1000;
}

/* defaults */
html {
    font-size: 16px;
    line-height: 1.5;
    background: rgb(9, 9, 9);
    font-family: 'Montserrat', sans-serif;
    color: var(--c-secondary);
    box-sizing: border-box;
}

/* canvas for the three js program */
canvas {
    position: fixed;
    top: 0;
    z-index: 0;
    
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: FadeIn;
    animation-delay: 0s;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

a {
    color: var(--c-primary);
    opacity:.6;
    text-decoration:none;
    transition:opacity .5s;
}

a:hover {
    opacity: 1;
}

/* Main grid layout */
main {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    grid-template-rows: 10vh 50vh auto auto;
    grid-template-areas:
    ". . . ."
    ". header header ."
    ". about about ."
    ". timeline timeline ."
    "footer footer footer footer";
}

.logodiv {
    z-index: 1;

    grid-area: header;
    align-self: end;
}


#hello {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: FadeIn;
    animation-delay: 0.5s;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

.logo {
    color: var(--c-primary);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: FadeIn;
    animation-delay: 1s;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    
    font-size: 6.5rem;
    line-height: 0.8;
    font-weight: 200;
}

.type-primary {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.4;
}

#subtitlesDiv{
    position:fixed;
    z-index:3;
    bottom:2rem;
    display:flex;
    justify-content:center;
    width:100%;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". sub ."
}

#subtitles{
    background: var(--c-tertiary);
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-backdrop-filter: saturate(180%) blur(40px);

    grid-area: sub;
    border-radius: var(--border-radius);
    color: var(--c-secondary);
    padding:.5vh 2vh;
    text-align:center;

    font-size: 3rem;
    line-height: 1.4;
}

.about {
    z-index: 2;
    grid-area: about;
}

.timeline {
    grid-area: timeline;
}

.spacer {
    height: 150vh;
}

.timeline-entry {
    z-index: 2;
    background: var(--c-tertiary);
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-backdrop-filter: saturate(180%) blur(40px);
    border-radius: var(--border-radius);
    
    position: relative;
    padding: calc(var(--v-space)/2) 0;
    
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". co description .";
}

.timeline-co {
    margin: calc(var(--v-space)/2) 0 0;
    grid-area: co;
}

.timeline-co a {
    color: var(--c-primary);
}

.timeline-time {
    display: block;
    font-style: italic;
}

.timeline-description {
    margin: calc(var(--v-space)/2) 0 0;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.4;
    
    grid-area: description;
}

.Menu{
    position:fixed;
    right:2rem;
    top:2rem;
    z-index:10;
    text-align:right;
    transform-origin:bottom right;
    transform:rotate(-90deg) translateX(28px);
    user-select: none;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: FadeIn;
    animation-delay: 1.5s;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}
.Menu nav{
    font-size:1.5rem;
}
.Menu nav a{
    margin-left:20px;
    display:inline-block;
    text-decoration:none;
    cursor:pointer;
    opacity:.5;
    transition:opacity .5s
}
.Menu nav a.selected,.Menu nav a:hover{
    opacity:1
}
.circle {
    margin:0;
    display:flex;
    position:relative;
    top:0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background:var(--c-primary);
    border-radius: 50%;
}

.sidebar{
    z-index: 9;
    position:fixed;
    right:2rem;
    bottom:2rem;
    transform:rotate(-90deg) translateX(100%);
    transform-origin:bottom right;
    font-size:1.25rem;
    user-select: none;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: FadeIn;
    animation-delay: 1.5s;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

ul {
    margin:0;
    padding:0;
}

.sidebar li{
    display:inline-block;
    margin-right:20px
}
    
.sidebar a{
    opacity:.5;
    text-decoration:none;
    transition:opacity .5s
}

.sidebar a:hover{
    opacity:1
}

.mute{
    z-index: 9;
    position:fixed;
    left:2rem;
    top:2rem;
    transform-origin:bottom right;
    font-size:1.25rem;
    user-select: none;

    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: FadeIn;
    animation-delay: 1.5s;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

.mute li{
    display:inline-block;
    margin-right:20px;
}
    
#mute a{
    opacity:.5;
    text-decoration:none;
    transition:opacity .5s
}

#mute a:hover{
    opacity:1
}


#muteimg {
    width: 2rem;
    height: 2rem;
}

footer {
    grid-area: footer;
    
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". p p ."
}

footer .footer-content {
    z-index: 1;
    padding: var(--v-space) 0;
    font-size: 1.5rem;
    line-height: 1.4;
    
    grid-area: p;
}

@media screen and (orientation:portrait){
    #subtitlesDiv{
        top:2rem;bottom:auto
    }
    :root {
        --v-space: 3rem;
    }
    .timeline-description {
        font-size: 2rem;
    }
    main {
        grid-template-columns: 1fr 10fr 0fr 1fr;
    }
    .timeline-entry {
        grid-template-columns: 1fr 5fr 5fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
        ". hr hr ."
        ". co co ."
        ". description description .";
    }
}

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}