/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label { margin: 0; padding: 0;  }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; }
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

/* Site Styles */
/* global vars */
:root {
    --c-primary: rgb(185, 159, 255);
    --c-secondary: rgba(255, 255, 255, 0.85);
    --c-tertiary: rgba(64, 64, 64, 0.5);
    
    --v-space: 6rem;
    --border-radius: 1vw;
}

/* defaults */
@font-face {
    font-family: "Metropolis";
    src: url(fonts/Metropolis-Thin.otf);
}

html {
    font-size: 16px;
    line-height: 1.5;
    background: rgb(9, 9, 9);
    font-family: Metropolis, sans-serif;
    color: var(--c-secondary);
    box-sizing: border-box;
}

/* canvas for the three js program */
canvas {
    position: fixed;
    top: 0;
    z-index: 0;
}

a {
    color: var(--c-primary);
}

a:hover {
    text-decoration: none;
}

/* Main grid layout */
main {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    grid-template-rows: 10vh 50vh auto auto;
    grid-template-areas:
    ". . . ."
    ". header header ."
    ". about about ."
    ". timeline timeline ."
    "footer footer footer footer";
}

.logo {
    z-index: 1;

    grid-area: header;
    align-self: end;
}

.logo a {
    font-size: 6.5rem;
    line-height: 0.8;
    text-decoration: none;
}

.type-primary {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
}

.about {
    z-index: 2;
    grid-area: about;
}

.about-content {
    z-index: 2;
    height: 150vh;
    display: flex;
    align-items: center;
    
    color: rgba(0,0,0,0);
}


.timeline {
    grid-area: timeline;
}

.spacer {
    height: 150vh;
}

.timeline-entry {
    z-index: 2;
    background: var(--c-tertiary);
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-backdrop-filter: saturate(180%) blur(40px);
    border-radius: var(--border-radius);
    
    position: relative;
    padding: calc(var(--v-space)/2) 0;
    
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". co description .";
}

.timeline-co {
    margin: calc(var(--v-space)/2) 0 0;
    grid-area: co;
}

.timeline-co a {
    color: var(--c-primary);
}

.timeline-time {
    display: block;
    font-style: italic;
}

.timeline-description {
    margin: calc(var(--v-space)/2) 0 0;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.4;
    
    grid-area: description;
}

footer {
    grid-area: footer;
    
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". p p ."
}

footer .footer-content {
    z-index: 1;
    padding: var(--v-space) 0;
    font-size: 1.5rem;
    line-height: 1.4;
    
    grid-area: p;
}

#subtitlesDiv{
    position:fixed;
    z-index:3;
    bottom:2rem;
    display:flex;
    justify-content:center;
    width:100%;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". sub ."
}

#subtitles{
    background: var(--c-tertiary);
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-backdrop-filter: saturate(180%) blur(40px);

    grid-area: sub;
    border-radius: var(--border-radius);
    color: var(--c-secondary);
    padding:.5vh 2vh;
    text-align:center;

    font-size: 3rem;
    line-height: 1.4;
}

@media screen and (orientation:portrait){
    #subtitlesDiv{
        top:2rem;bottom:auto
    }
    :root {
        --v-space: 3rem;
    }
    .timeline-description {
        font-size: 2rem;
    }
    main {
        grid-template-columns: 1fr 10fr 0fr 1fr;
    }
    .timeline-entry {
        grid-template-columns: 1fr 5fr 5fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
        ". hr hr ."
        ". co co ."
        ". description description .";
    }
}                                                                                                                                           